# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Build directories
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# OS specific files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
